@font-face {
    font-family: my-cool-font;
    src: url('../fonts/Norse-Bold.otf');
}

body {
    font-family: sans-serif;
}

@media screen and (min-width: 900px) {
    body {
        display: grid;
        grid-template-columns: 533px 1fr;
    }
}